[Unit]
Description={{description}}
Requires=podman.service
After=podman.service
Wants={{timer}}

[Service]
Restart=no
ExecStart={{command}}
User=root
Group=root
Type=oneshot

[Install]
WantedBy=multi-user.target
