[Unit]
Description={{description}}
Requires={{target_unit}}

[Timer]
OnCalendar={{on_calendar}}
Unit={{target_unit}}

[Install]
WantedBy=timers.target