[Unit]
Description=Add static routes for skate
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/skatelet routes
User=root
Group=root

[Install]
WantedBy=multi-user.target